{{! The 'line types' folder needs to be copied to a custom style to modify this file. }}

<div 	ltype="{{lineType}}" 

{{^isRemoteMessage}}
		mtype="{{nicknameType}}"
{{/isRemoteMessage}}

		command="{{rawCommand}}"
		highlight="{{highlightAttributeRepresentation}}" 
		class="line {{lineClassAttributeRepresentation}}" 
		id="line-{{lineNumber}}"
		time="{{lineRenderTime}}">

		
		
{{#isEncrypted}}
	{{{encryptedMessageLockTemplate}}}
{{/isEncrypted}}
		<span class="sender"
				onclick="Textual.nicknameMaybeWasDoubleClicked(this)"
				oncontextmenu="Textual.openStandardNicknameContextualMenu()" 
				mtype="{{nicknameType}}"
				nickname="{{nickname}}" 
				{{#nicknameColorHashingEnabled}} 
					colornumber="{{nicknameColorNumber}}"
				{{/nicknameColorHashingEnabled}}>{{formattedNickname}}</span>
		<span class="message" ltype="{{lineType}}">{{{formattedMessage}}}
					{{#inlineMediaAvailable}}
						{{#inlineMediaArray}}
							<a href="{{{anchorLink}}}" onclick="return Textual.toggleInlineImage('{{anchorInlineImageUniqueID}}')"><img src="{{{imageURL}}}" class="inlineimage" id="inlineImage-{{anchorInlineImageUniqueID}}" style="display: none; max-width: {{preferredMaximumWidth}}px;" title="Hide image by shift clicking." /></a>
						{{/inlineMediaArray}}
					{{/inlineMediaAvailable}}</span>
		<span class="time">{{formattedTimestamp}}</span>

</div>